<h1>All Profiles</h1>
<%# profile information %>
<table>
  <tr>
    <th>User ID</th>
    <th>First Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>Email</th>
  </tr>
<% @profiles.each do |profile| %>
<tr>
  <td><%= profile.user_id %></td>
  <td><%= profile.first_name %></td>
  <td><%= profile.last_name %></td>
  <td><%= profile.age %></td>
  <td><%= profile.user.email %></td>
  <td><%= link_to 'Show profile', profile, class: 'btn btn-secondary' %></td>
</tr>
  <% end %>
</table>



