<h1>My Profile</h1>

<%# profile information %>
<ul>
  <li> First name: <%= @profile.first_name %></li>
  <li> Last name: <%= @profile.last_name %></li>
  <li> Age: <%= @profile.age%></li>
  <li> Email: <%= current_user.email %></li>
</ul>

<%# Link to edit profile information %>
<%= link_to 'Edit Profile', edit_profile_path(@profile), class: 'btn btn-warning me-2' %>


<h2>Listed items</h2>
<% current_user.reels.each do |item| %>
<li class="mt-2"><%= item.item_name %> - $<%= item.price %> <%= link_to 'View item', reel_path(item), class: 'btn btn-primary btn-sm' %></li>
<% end %>

<h3>Purchase history</h3>


