<h1>My Profile</h1>

<%# profile information %>
<ul>
  <li> First name: <%= @profile.first_name %></li>
  <li> Last name: <%= @profile.last_name %></li>
  <li> Age: <%= @profile.age%></li>
  <li> Email: <%= current_user.email %></li>
</ul>

<%# Link to edit profile information %>
<%= link_to 'Edit Profile', edit_profile_path(@profile), class: 'btn btn-warning' %>


<h2>Listed items</h2>
<table class= "table-sm">
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>View Item</th>
    </tr>
  </thead>
  <% current_user.reels.each do |item| %>
    </tbody>
      <tr>
        <td><%= item.brand.brand %> <%= item.item_name %></td>
        <td>$<%= item.price %></td>
        <td><%= link_to 'View item', reel_path(item), class: 'btn btn-primary btn-sm' %></td>
      </tr>
    </tbody>
  <% end %>
</table>




<h3>Purchase history</h3>
  <% current_user.purchases.each do |history| %>
  <li>
    <ul>Reel: <%= history.reel.brand.brand %> <%= history.reel.item_name%></ul>
    <ul>Price: $<%= history.reel.price %></ul>
  </li>
  <% end %>



