
<% user_signed_in? ? (current_user.add_role :customer) : '' %>
<%# if user signed in and authorised to new, displays new button. %>
<h2>Wish List</h2>
  <% if @wish_list.empty? %>
    <p>No items to display.</p>
  <% else %>
    <ul>
      <% @wish_list.each do |reel| %> 
        <li> <%= reel.item_name %> <%= button_to "Remove item", remove_from_wish_list_path(reel), method: :delete, class: 'btn btn-warning ms-1 mt-1' %> </li>
      <% end %>
    </ul>
  <% end %>


<h1 class="d-flex justify-content-between">
  Catalogue 
  <%= user_signed_in? && policy(Reel).new? ? (link_to 'Sell', new_reel_path, class: 'btn btn-primary me-3') : '' %>
</h1>



<div class="d-flex flex-wrap justify-content-evenly ">
<%# Displays brief information about each reel %>
<% @reels.each do |reel| %>
  <div class="card mt-3" style="width: 18rem;">
    <%= cl_image_tag(reel.reel_pic.key, height: 225, width: 150, crop: :scale, cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "card-img-top") %>
    <div class="card-body">
      <ul>Item:<%= "#{reel.brand.brand} #{reel.item_name}" %></ul>
      <ul>Price: <%= number_to_currency reel.price %></ul>
      <ul>Description: <%= reel.description %></ul>
      <ul>Item condition: <%= reel.item_condition %></ul>
      <% if @wish_list.include?(reel) %>
        <p><%= button_to 'Remove from wish list', remove_from_wish_list_path(reel), method: :delete, class: 'btn btn-warning ms-1 mt-1' %></p>
      <% else %>
        <p><%= button_to 'Add to wish list', add_to_wish_list_path(reel.id), method: :post, class: 'btn btn-success ms-1 mt-1' %></p>
      <% end %>
      <p><%= link_to 'More info', reel, class: 'btn btn-info ms-1 mt-1' %></p>
    </div>
  </div>
<% end %>
</div>

