<h1>Catalogue</h1>
<% user_signed_in? ? (current_user.add_role :customer) : '' %>
<%# if user signed in and authorised to new, displays new button. %>
<h2><%= user_signed_in? && policy(Reel).new? ? (link_to 'Sell', new_reel_path, class: 'btn btn-primary') : '' %></h2>
<%# Displays brief information about each reel %>
<% @reels.each do |reel| %>
  <div class="card" style="width: 18rem;">
    <%= cl_image_tag(reel.reel_pic.key, height: 225, width: 150, crop: :scale, cloud_name: ENV['CLOUDINARY_CLOUD_NAME'], class: "card-img-top") %>
    <div class="card-body">
      <ul>Item:<%= "#{reel.brand.brand} #{reel.item_name}" %></ul>
      <ul>Price: <%= number_to_currency reel.price %></ul>
      <ul>Description: <%= reel.description %></ul>
      <ul>Item condition: <%= reel.item_condition %></ul>
      <div class="btn-toolbar ">
        <% if @cart.include?(reel) %>
          <p><%= button_to 'Remove from cart', remove_from_cart_path(reel), method: :delete, class: 'btn btn-warning ps-1  me-1' %></p>
        <% else %>
          <p><%= button_to 'Add to cart', add_to_cart_path(reel.id), method: :post, class: 'btn btn-success me-1' %></p>
        <% end %>
        <%= link_to 'More info', reel, class: 'btn btn-info me-1' %>
      </div>
    </div>
  <% end %>
</div>
