<h1><%= @reel.item_name %></h1>


<%= @reel.brand_id == 1 ? "Shimano" : "Daiwa" %>


<h2> 
  <ul>Description: <%= @reel.description %></ul>
  <ul>Size: <%= @reel.size %></ul>
  <ul>Price: $<%= @reel.price %></ul>
  <ul>Item condition: <%= @reel.item_condition %></ul>
</h2>